[[source]]
name = "pypi"
# url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
pdfkit = "*"
pymysql = "*"
pypdf2 = "*"
easyocr = "*"
openpyxl = "*"
cx-oracle = "*"
pdfminer3k = "*"
python-docx = "*"
pdf2docx = "*"
exifread = "*"

[requires]
python_version = "3.7"
